/*
|----------------------------------------
| Contents
|----------------------------------------
*/
.content1, .content1-v2 {
    width: calc(100% - var(--admin-sidenav-w));
    padding: 50px;
    margin-left: var(--admin-sidenav-w);
    min-height: 100vh;
}

.content1-v2 {
    width: 100%;
    margin: 0;
}





/*
|----------------------------------------
| Btns 
|----------------------------------------
*/
.primary-btn-dark-blue1, .primary-btn-red1 {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: var(--radius3);
    cursor: pointer;
    border: none;
    background: var(--dark-blue1);
}
.primary-btn-dark-blue1 {
    color: var(--white1);
}
.primary-btn-red1 {
    color: var(--white1);
    background: var(--red1);
}

.primary-btn-dark-blue1.disabled {
    cursor: not-allowed;
    opacity: .5;
}


.secondary-btn-black1, .secondary-btn-dark-blue1 {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: var(--radius3);
    cursor: pointer;
    border: none;
    background: transparent;
    text-decoration: none;
}
.secondary-btn-black1 {
    border: 1px solid var(--black1);
}
.secondary-btn-dark-blue1 {
    border: 1px solid var(--dark-blue1);
    color: var(--dark-blue1);
}

.colorless-btn1 {
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: transparent;
}





/*
|----------------------------------------
| Lines 
|----------------------------------------
*/
.hr-line1-white1, .hr-line1-grey1, .hr-line1-black3, .hr-line1-black1 {
    width: 100%;
    height: 1px;
    background: var(--white1);
    opacity: .3;
}
.hr-line1-grey1 {
    background: var(--grey1);
}
.hr-line1-black3 {
    background: var(--black3);
}
.hr-line1-black1 {
    background: var(--black1);
}
.hr-line1-dashed-black3 {
    border: 1px dashed var(--black3);
}





/*
|----------------------------------------
| Search 
|----------------------------------------
*/
.search-box1 {
    background: var(--light-blue1);
    padding: 10px;
    border: 1px solid var(--grey1);
    border-radius: 5px;
    width: 400px;
}
.search-box1-icon {
    position: absolute;
    right: 10px;
}





/*
|----------------------------------------
| Forms 
|----------------------------------------
*/
.input1 {
    border: 1px solid var(--black1);
    background: var(--white1);
    padding: 10px 10px;
    border-radius: 5px;
}
.resizable-none {
    resize: none;
}





/*
|----------------------------------------
| Containers / Boxes
|----------------------------------------
*/
.cont-box1 {
    background: var(--white1);
    border-radius: 5px;
    filter: drop-shadow(0 0 1px var(--black1));
}
.cont-box1-head, .cont-box1-body {
    padding: 20px;
    overflow-y: auto;
}






.print-only {
    display: none;
  }
  
@media print {
    .print-only {
      display: block !important;
    }
}