/*
|----------------------------------------
| Contents
|----------------------------------------
*/
.content1 {
    width: calc(100% - var(--admin-sidenav-w));
    padding: 50px;
    margin-left: var(--admin-sidenav-w);
    min-height: 100vh;
}





/*
|----------------------------------------
| Btns 
|----------------------------------------
*/
.primary-btn-dark-blue1 {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: var(--radius3);
    cursor: pointer;
    border: none;
    background: var(--dark-blue1);
}
.primary-btn-dark-blue1 {
    color: var(--white1);
}

.primary-btn-dark-blue1.disabled {
    cursor: not-allowed;
    opacity: .5;
}


.secondary-btn-black1 {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: var(--radius3);
    cursor: pointer;
    border: none;
    background: transparent;
}
.secondary-btn-black1 {
    border: 1px solid var(--black1);
}





/*
|----------------------------------------
| Lines 
|----------------------------------------
*/
.hr-line1-white1 {
    width: 100%;
    height: 1px;
    background: var(--white1);
    opacity: .3;
}





/*
|----------------------------------------
| Search 
|----------------------------------------
*/
.search-box1 {
    background: var(--light-blue1);
    padding: 10px;
    border: 1px solid var(--grey1);
    border-radius: 5px;
    width: 400px;
}
.search-box1-icon {
    position: absolute;
    right: 10px;
}





/*
|----------------------------------------
| Forms 
|----------------------------------------
*/
.input1 {
    border: 1px solid var(--black1);
    background: var(--white1);
    padding: 10px 10px;
    border-radius: 5px;
}