.view-medicine-box1 {
    background: var(--white1);
    border-radius: 10px;
    filter: drop-shadow(0 0 1px var(--black3));
}
.view-medicine-box1-head {
    padding: 20px 20px;
}
.view-medicine-box1-body {
    padding: 20px 20px;
}