.admin-sidenav1 {
    width: 300px;
    height: 100vh;
    position: fixed;
    background: var(--dark-blue2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    z-index: 20;
}
.admin-sidenav1-head {
    background: var(--dark-blue1);
    height: 70px;
    padding: 0 30px;
    color: var(--white1);
    display: flex;
    align-items: center;
}



.admin-sidenav1-user {
    display: flex;
    gap: 15px;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    position: relative;
}
.admin-sidenav1-pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    background: var(--dark-blue1);
    font-size: var(--text-m1);
    color: var(--white1);
    font-weight: 900;
}
.admin-sidenav1-pfp img {
    height: 100%;
}



.admin-sidenav1-links {
    display: flex;
    flex-direction: column;
    transition: height ease .3s;
    user-select: none;
}
.admin-sidenav1-link {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    color: var(--white1);
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: all ease .3s;
}
.admin-sidenav1-link img {
    width: 20px;
    aspect-ratio: 1/1;
}
.admin-sidenav1-link.opened {
    background: var(--dark-blue1);
}
.admin-sidenav1-link.active, .admin-sidenav1-link2.active {
    background: var(--blue1);
}

.admin-sidenav1-link2 {
    width: 100%;
    padding: 15px 20px 15px 50px;
    display: flex;
    color: var(--white1);
    align-items: center;
    cursor: pointer;
    background: var(--dark-blue1);
    text-decoration: none;
    transition: all ease .3s;
}
.admin-sidenav1-link2.disabled {
    height: 0;
    overflow: hidden;
    padding: 0 20px 0 50px;
}





.admin-sidenav1-action-box {
    width: 150px;
    background: var(--white1);
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 60px;
    user-select: none;
}
.admin-sidenav1-action-box-btn {
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}