:root {
    --pos-right-cont-width: 500px;
}

.pos-cat-cont {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    padding: 5px;
    gap: 15px;
}

.pos-cat-box {
    border-radius: 5px;
    min-width: 80px;
    text-align: center;
    padding: 20px 10px;
    background: var(--white1);
    filter: drop-shadow(0 0 2px var(--grey1));
    flex-shrink: 1;
    cursor: pointer;
    user-select: none;
}
.pos-cat-box.active {
    background: var(--blue1);
    color: var(--white1);
}

.pos-medicines-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.pos-medicine {
    width: calc(100% / 4 - 20px);
    padding: 10px;
    background: var(--white1);
    border-radius: 5px;
    filter: drop-shadow(0 0 2px var(--grey1));
    cursor: pointer;
    user-select: none;
}
.pos-medicine.active {
    background: var(--blue1);
    color: var(--white1);
}
.pos-medicine.disabled {
    opacity: .5;
    cursor: not-allowed;
}
.pos-medicine-pic {
    width: 100%;
    aspect-ratio: 1/1;
    background: var(--black1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: var(--white1);
}


.pos-left-cont {
    width: calc(100% - var(--pos-right-cont-width));
}

.pos-rigth-cont {
    width: var(--pos-right-cont-width);
    padding: 20px;
    background: var(--white1);
    filter: drop-shadow(0 0 2px var(--grey1));
    height: calc(100% - 70px);
    position: fixed;
    right: 50px;
    bottom: 20px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pos-orders-cont {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    border: 1px dashed var(--grey1);
}

.pos-order-box {
    width: 100%;
    padding: 5px;
    background: var(--white1);
    display: flex;
    gap: 10px;
    filter: drop-shadow(0 0 1px var(--grey1));
    position: relative;
}
.pos-order-box-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.pos-order-box-pic {
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--grey1);
    border-radius: 5px;
}
.pos-order-box-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
}