.sales-row {
    padding: 10px;
    display: flex;
}
.sales-row:nth-child(odd) {
    background: var(--grey1);
}

.report-paper {
    background: var(--white1);
    filter: drop-shadow(0 0 2px var(--black3));
    width: 8.5in;
    /* height: 11in; */
    padding: 30px;
}

.report-paper-table {
    width: 100%;
    background: var(--white2);
}
.report-paper-table-thead {
    background: var(--dark-blue1);
    color: var(--white1);
}
.report-paper-table-thead th {
    padding: 10px;
}

.report-paper-table-tbody tr:nth-child(even) {
    background: var(--grey1);
}
.report-paper-table-tbody td {
    padding: 10px;
}